{% extends 'base.html.twig' %}

{% block title %}Game Detail{% endblock %}

{% block body %}

{% include 'includes/gameHeader.html.twig' %}


<div class="row">
    <div class="col-9">
        <div class="row p-3">
            <!-- Loop the next div -->
            {% for user in users %}
                <div class="col-4 mt-5 player-card d-flex align-items-center justify-content-center">
                    <a href="{{ path('profile',{'id': user.id})}}">

                        <div class="shadow p-2 player-card-inborder">
                            <div class="w-100 player-card-image ">
                                <img class="w-100 h-100" src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-vector-user-young-boy-avatar-icon-png-image_1538408.jpg">
                            </div>
                            <div class="row p-0 m-0">
                                <div class="row p-0 m-0">
                                    <div class="col-12">
                                        <i class="fas fa-user"></i> {{user.username}}
                                    </div>
                                    <div class="col-12">
                                        <i class="fas fa-at"></i> {{user.email}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>  
            {% endfor %}
        </div>
    </div>
    {% include 'includes/gameSideBar.html.twig' %}
    </div>

{% endblock %}

{% block script %}
<script src="{{ asset("js/games.js") }}" defer></script>
{% endblock %}