<div class="col-3 sidemenu">
    <div class="row mt-3 mb-5">
        <div class="col-10 offset-1 d-flex justify-content-center">
            <h1><i class="fas fa-sm fa-filter"></i> Filtres</h1>
        </div>
    </div>
    <form>
        <div class="row mt-3">
            <div class="col-10">
                <h5 class="font-weight-bold">Type de joueurs</h5>
            </div>
        </div>
        <div class="row mt-1 mb-5">
            <div class="col-8">
                <label for="inputState">Âge</label>
                <select id="inputState" class="custom-select custom-select-sm">
                    <option selected>Tout</option>
                    <option>Majeur (18+)</option>
                    <option>Mineur</option>
                </select>
                <label class="pt-3" for="langages">Language</label>
                <select id="langages" class="custom-select custom-select-sm">
                    <option selected>Tout</option>
                    <option>Français</option>
                    <option>Anglais</option>
                </select>
            </div>
        </div>
    </form>
</div>
