<div class="row header">
    <div class="col-md-1 pl-4 my-auto">
        <a href="{{path('gamer')}}" class="color-href">
            <i class="fas fa-2x fa-home"></i>
        </a>
    </div>
    <div class="col-md-4 mx-auto d-flex justify-content-center">
        <h2 class="font-weight-bold">{{game.game_title}}</h2>
    </div>
     <div class="col-md-1 offset-md- pr-4 d-flex justify-content-end my-auto">
         <a href="{{ path('profile',{'id': app.user.id})}}" class="color-href">
            <i class="fas fa-2x fa-user px-3"></i>
        </a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="color-href"><i class="fas fa-2x fa-power-off"></i></a>
        {% endif %}
     </div>
</div>