<div class="row header">
     <div class="col-md-4 my-auto">
         <div class="input-group">
         
             <button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
             <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                 aria-describedby="search-addon" />
         </div>
     </div>
     <div class="col-md-3 offset-5 pr-4  d-flex justify-content-end my-auto">
         <i class="fas fa-2x fa-envelope px-3"></i>
         <i class="fas fa-2x fa-user px-3"></i>
     </div>
</div>