 <div class="col-3 sidemenu">


<!-- Searching Filters -->

 <div class="row mt-3 mb-5">
    <div class="col-10 offset-1 d-flex justify-content-center">
        <h1><i class="fas fa-sm fa-filter"></i> Filtres</h1>
    </div>
</div>
<form>
    <div class="row mt-3">
        <div class="col-10">
            <h5 class="font-weight-bold">Type de joueurs</h5>
        </div>
    </div>
    <div class="row mt-1 mb-5">
        <div class="col-8">
            <label for="inputState">Âge</label>
            <select id="inputState" class="custom-select custom-select-sm">
              <option selected>Tout</option>
              <option>Majeur (18+)</option>
              <option>Mineur</option>
            </select>
          </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h5 class="font-weight-bold">Disponibilitées <i class="fas fa-lg fa-calendar-alt pl-2"></i>
            </h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  8h - 12h
                </label>
              </div>
              <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                  12h - 16h
                </label>
              </div>
              <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                <label class="form-check-label" for="defaultCheck3">
                  16h - 20h
                </label>
              </div>
              <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                <label class="form-check-label" for="defaultCheck4">
                  20h - 00h
                </label>
              </div>
              <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                <label class="form-check-label" for="defaultCheck5">
                  00h - 8h
                </label>
              </div>
        </div>
    </div>
</form>
</div>
